<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HCDReactiveCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D3E05821BC3669A003E8A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3E059B1BC3669A003E8A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3E05A61BC3669A003E8A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
